body {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  text-align: center;
  color: hsl(234, 12%, 34%);
  background-color: hsl(0, 0%, 98%);
  margin: 0;
  }

h1 {
  margin: auto;
}

h3 {
  padding:15px 0 5px 20px;
  margin:0;
}

p {
  color: hsl(229, 6%, 66%);
  padding:0;
  margin:0;
}

.calculator {
  box-sizing: border-box;
  width: 350px;
  height: 220px;
  border-style: solid;
  border-width: 4px 0 0 0;
  border-color: hsl(212, 86%, 64%);
  border-radius: 3px;
  background-color: hsl(0, 0%, 98%);
  padding: 5px;
  box-shadow: 0px 10px 14px -10px #888888;
  text-align: left;
  }

.card-paragraphs {
  padding: 0 35px 30px 20px;
  font-size: 13px;
  margin:0;
  }

.first-heading {
  font-weight: lighter;
  padding: 4% 0 5px 0;
  }

.icon {
  position: relative;
  margin-left: 75%;
  }

.karma {
  box-sizing: border-box;
  width: 350px;
  height: 220px;
  border-style: solid;
  border-width: 4px 0 0 0;
  border-color: hsl(34, 97%, 64%);
  border-radius: 3px;
  background-color: hsl(0, 0%, 98%);
  padding: 5px;
  box-shadow: 0px 10px 17px -10px #888888;
  text-align: left;
  }

.supervisor {
  box-sizing: border-box;
  width: 350px;
  height: 220px;
  border-style: solid;
  border-width: 4px 0 0 0;
  border-color: hsl(180, 62%, 55%);
  border-radius: 3px;
  background-color: hsl(0, 0%, 98%);
  padding: 5px;
  box-shadow: 0px 10px 17px -10px #888888;
  text-align: left;
  }

.team-builder {
  box-sizing: border-box;
  width: 350px;
  height: 220px;
  border-style: solid;
  border-width: 4px 0 0 0;
  border-color: hsl(0, 78%, 62%);
  border-radius: 3px;
  background-color: hsl(0, 0%, 98%);
  padding: 5px;
  box-shadow: 0px 10px 17px -10px #888888;
  text-align: left;
  }

  @media screen and (max-width: 1090px) {   /* This is for mobiles*/

  .grid-container {
    display: grid;
    margin: 50px auto;
    width:350px;
    height: 100%;
    column:100%;
    grid-gap: 25px;
    background-color: hsl(0, 0%, 98%); /*background color should be hsl(0, 0%, 98%)*/
    }

  .intro-paragraph {
    width: 90%;
    margin: auto;
    padding: 20px;
    }

  .karma {
    column: 100%;
    }

  .supervisor {
    column: 100%;
    }

  .calculator {
    column: 100%;
    }

  .team-builder {
    column: 100%;
    }
}

@media screen and (min-width: 1090px) { /* This is for larger screens*/

.grid-container {
  display: grid;
  margin: 50px auto;
  width:1090px;
  height: 100%;
  grid-template-column:350px 350px 350px;
  grid-template-rows: 100px 100px 100px 100px;
  grid-gap: 25px;
  background-color: hsl(0, 0%, 98%); /*background color should be hsl(0, 0%, 98%)*/
  }

.intro-paragraph {
  width: 27%;
  margin: auto;
  padding: 20px 0;
  }

.karma {
  grid-column: 2;
  grid-row: 3 / 4;
  box-sizing: border-box;
  width: 350px;
  height: 220px;
  border-style: solid;
  border-width: 4px 0 0 0;
  border-color: hsl(34, 97%, 64%);
  border-radius: 3px;
  background-color: hsl(0, 0%, 98%);
  padding: 5px;
  box-shadow: 0px 10px 17px -10px #888888;
  text-align: left;
  }

.supervisor {
  grid-column: 1;
  box-sizing: border-box;
  width: 350px;
  height: 220px;
  border-style: solid;
  border-width: 4px 0 0 0;
  border-color: hsl(180, 62%, 55%);
  border-radius: 3px;
  background-color: hsl(0, 0%, 98%);
  padding: 5px;
  box-shadow: 0px 10px 17px -10px #888888;
  text-align: left;
  }

.calculator {
  grid-column: 3;
  box-sizing: border-box;
  width: 350px;
  height: 220px;
  border-style: solid;
  border-width: 4px 0 0 0;
  border-color: hsl(212, 86%, 64%);
  border-radius: 3px;
  background-color: hsl(0, 0%, 98%);
  padding: 5px;
  box-shadow: 0px 10px 14px -10px #888888;
  text-align: left;
  }

.team-builder {
  grid-column: 2;
  box-sizing: border-box;
  width: 350px;
  height: 220px;
  border-style: solid;
  border-width: 4px 0 0 0;
  border-color: hsl(0, 78%, 62%);
  border-radius: 3px;
  background-color: hsl(0, 0%, 98%);
  padding: 5px;
  box-shadow: 0px 10px 17px -10px #888888;
  text-align: left;
  }

}
